apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: yeetcard

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: yeetcard-pass-service
  app.kubernetes.io/managed-by: kustomize
